*.csv
external/
notes/
publication/papers/


# LaTeX build files
*.aux
*.log
*.out
*.toc
*.lof
*.lotg
*.fls
*.fdb_latexmk
*.synctex.gz
*.bcf
*.run.xml
*.blg

# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Large/private research data
data/raw/*
data/processed/*